@model Qotd.PresentationObjects.ActivityPO
@if (Model.Activity.ActivityType == Qotd.Entities.ActivityType.PostAnswer)
{
    <text>@Html.Partial("Answer", Model.Answer)</text>
}
else if (Model.Activity.ActivityType == Qotd.Entities.ActivityType.PostQuestion)
{
    <text>@Html.Partial("Question", Model.Question)</text>
}
else
{
    <div class="social-content-container-lrg">
    <!-- Side bar of post -->
    <div class="social-content-left-lrg">
        <!-- Profile image -->
        <div>
            <img src="@Model.UserProfileImageUrl" alt="profile picture"/>
        </div>
    </div>
    <div class="social-content-main-container">
    <!-- Header of post -->
    <div class="social-content-main-lrg">
        <div>
            <span><b>@Html.Partial("UserLink", new Qotd.PresentationObjects.UserPO() { User = new Qotd.Entities.User() { Id = Model.Activity.SourceUserId, DisplayName = Model.UserDisplayName, ProfileImageUrl = Model.UserProfileImageUrl } })</b></span>
        </div>
    </div>
    <!-- Content of post-->
    <div class="social-content-main-lrg">
            @{
    switch (Model.Activity.ActivityType)
    {
        case Qotd.Entities.ActivityType.PostComment:
            <text><div><p>posted a comment on answer "@Html.Partial("AnswerLink", Model.Answer)"</p></div>
                @Html.Partial("Comment", Model.Comment)
            </text>
           break;
        case Qotd.Entities.ActivityType.FollowTag:
            <text><div><p>favourited tag "<a href="#">@Model.Activity.Text</a>"</p></div>
            </text>
                                                 break;
        case Qotd.Entities.ActivityType.FollowUser:
            <text><div><p>favourited user "<a href="#">@Model.Activity.Text</a>"</p></div>
            </text>
                                                  break;
        case Qotd.Entities.ActivityType.ReceiveFollow:
                                                  break;
        case Qotd.Entities.ActivityType.VoteAnswer:
            <text><div><p>voted on answer "@Html.Partial("AnswerLink", Model.Answer)"</p></div></text>
                                                  break;
        case Qotd.Entities.ActivityType.VoteQuestion:
            <text><div><p>voted on question "@Html.Partial("QuestionLink", Model.Question)"</p></div></text>
                                                    break;
        case Qotd.Entities.ActivityType.ReceiveVoteUpAnswer:
            <text><div><p>received a positive vote on answer "@Html.Partial("AnswerLink", Model.Answer)" from </p><p><img src="@Model.TargetUserProfileImageUrl" class="profile-sml"/>&nbsp;<a href="#">@Model.TargetUserDisplayName</a></p></div>
            </text>
                                                                                                                                                                                              break;
        case Qotd.Entities.ActivityType.ReceiveVoteDownAnswer:
            <text><div><p>received a negative vote on answer "@Html.Partial("AnswerLink", Model.Answer)" from </p><p><img src="@Model.TargetUserProfileImageUrl" class="profile-sml"/>&nbsp;<a href="#">@Model.TargetUserDisplayName</a></p></div>
            </text>
                                                                                                                                                                                              break;
        case Qotd.Entities.ActivityType.ReceiveVoteUpQuestion:
            <text><div><p>received a positive vote on question "@Html.Partial("QuestionLink", Model.Question)" from </p><p><img src="@Model.TargetUserProfileImageUrl" class="profile-sml"/>&nbsp;<a href="#">@Model.TargetUserDisplayName</a></p></div>
            </text>
                                                                                                                                                                                              break;
        case Qotd.Entities.ActivityType.ReceiveVoteDownQuestion:
            <text><div><p>received a negative vote on question "@Html.Partial("QuestionLink", Model.Question)" from </p><p><img src="@Model.TargetUserProfileImageUrl" class="profile-sml"/>&nbsp;<a href="#">@Model.TargetUserDisplayName</a></p></div>
            </text>
                                                                                                                                                                                              break;
    }
            }
        </div> 
        <!-- Footer -->
        <div class="social-content-main-lrg">
            <div class="social-content-ctrl">
                <i class="icon-time"></i>&nbsp;<time class="timeago" datetime="@Model.Activity.Date.ToString("s")"></time>
            </div>
        </div>
    </div>
    </div>
}