@model Qotd.PresentationObjects.ActivityPO
<div class="social-content-container-sml" style="border-bottom: 1px solid #cccccc">
    <!-- Side bar of post -->
    <div class="social-content-left-sml">
        <!-- Profile image -->
        <div>
            <img src="@Model.UserProfileImageUrl" alt="profile picture" style="width: 25px; height: 25px"/>
        </div>
    </div>
    <!-- Main section of post -->
    <div class="social-content-main-sml">
        <!-- Content -->
        <div>
            <span><b><a href="#">@Model.UserDisplayName</a></b></span>
            @{
                switch (Model.Activity.ActivityType)
                {
                    case Qotd.Entities.ActivityType.PostQuestion:
                        <text><span>&nbsp;posted a question "@Html.Partial("QuestionLink", Model.Question)"</span>
                        </text>
                        break;
                    case Qotd.Entities.ActivityType.VoteAnswer:
                        <text><span>&nbsp;voted on answer "@Html.Partial("AnswerLink", Model.Answer)"</span>
                        </text>
                                                                                                            break;
                    case Qotd.Entities.ActivityType.VoteQuestion:
                        <text><span>&nbsp;voted on question "@Html.Partial("QuestionLink", Model.Question)"</span>
                        </text>
                                                    break;
                    case Qotd.Entities.ActivityType.PostComment:
                        <text><span>&nbsp;posted a comment "@Model.Activity.Text" on answer "@Html.Partial("AnswerLink", Model.Answer)"</span>
                        </text>
                                                                                        break;
                    case Qotd.Entities.ActivityType.PostAnswer:
                        <text>&nbsp;posted an answer
                        </text>
                                                                                                            break;
                }
            }
        </div> 
        <!-- Footer -->
        @*<div class="social-content-main-sml">
            <div class="social-content-ctrl">
                <i class="icon-time"></i>&nbsp;<time class="timeago" datetime="@Model.Activity.Date.ToString("s")"></time>
            </div>
        </div>*@
    </div>
</div>
