@model Qotd.PresentationObjects.AnswerPO
<div class="social-content-container-lrg">
    <!-- Side bar of post -->
    <div class="social-content-left-lrg">
        <!-- Profile image -->
        <div>
            <img src="@Model.User.User.ProfileImageUrl" alt="profile picture"/>
        </div>
        <!-- Up arrow -->
        @if (ViewBag.IsAuthenticated && ViewBag.User != null && (!Model.HasUserVoted))
        {
            <div>
                <a href="@Url.Action("VoteUp", "Home", new { answerId = Model.Answer.Id })" class="ajax-link vote-arrow"><i class="icon-caret-up"></i></a>
            </div>
        }
        else
        {
            <div>
                <i class="icon-caret-up vote-arrow"></i>
            </div>
        }
        <!-- Votes -->
        <div>
            <span style="font-size: 22px">@Model.Answer.VotesTotal</span>
        </div>
        <!-- Down arrow -->
        @if (ViewBag.IsAuthenticated && ViewBag.User != null && (!Model.HasUserVoted))
        {
        <div>
            <a href="@Url.Action("VoteDown", "Home", new { answerId = Model.Answer.Id })" class="ajax-link vote-arrow"><i class="icon-caret-down" style="font-size: 22px;"></i></a>
        </div>
        }
        else
        {
            <div>
                <i class="icon-caret-down vote-arrow"></i>
            </div>
        }
    </div>
    <!-- Main section of post -->
    <div class="social-content-main-container">
    <div class="social-content-main-lrg">
        <!-- Header -->
        <div>
                <span style="font-weight: bold">@Model.Answer.Title</span>
                <span>by</span>
                <span style="font-weight: bold;">@Html.Partial("UserLink", Model.User)</span>
            <div style="float: right;"><span class="label label-info" style="font-size: 11px"><i class="icon-comments"></i>&nbsp;Answer</span></div>
            @if (Model.Answer.IsFirst.HasValue && Model.Answer.IsFirst.Value)
            {
                <div style="float: right; margin-right: 4px"><i class="icon-trophy gold"></i>&nbsp;<span class="label" style="font-size: 11px">Winner</span></div>
            }
            @if (Model.Answer.IsSecond.HasValue && Model.Answer.IsSecond.Value)
            {
                <div style="float: right; margin-right: 4px"><i class="icon-trophy silver"></i>&nbsp;<span class="label" style="font-size: 11px">Second</span></div>
            }
            @if (Model.Answer.IsThird.HasValue && Model.Answer.IsThird.Value)
            {
                <div style="float: right; margin-right: 4px"><i class="icon-trophy bronze"></i>&nbsp;<span class="label" style="font-size: 11px">Third</span></div>
            }
        </div>
    </div> 
    <!-- Content -->
    <div class="social-content-main-lrg">@Html.Raw(Model.Answer.Content)</div>
    <!-- Tags -->
    <div class="social-content-main-lrg">@Html.Partial("TagList", Model.Answer.TagEntries)</div>
    <!-- Controls -->
    <div class="social-content-main-lrg">
        @if (ViewBag.IsAuthenticated && ViewBag.User != null)
        {
                <div class="social-content-ctrl"><a href="#"><i class="icon-pencil"></i>&nbsp;Comment</a></div>
        }
        <div class="social-content-ctrl"><i class="icon-time"></i>&nbsp;<time class="timeago" datetime="@Model.Answer.CreatedOn.ToString("s")"></time></div>
        @if (ViewBag.IsAuthenticated && ViewBag.User != null)
        {
                <div class="social-content-ctrl"><a href="#"><i class="icon-warning-sign"></i>&nbsp;Report</a></div>
        }
    </div>
    <!-- Comments footer -->
    <div class="social-content-main-lrg ajax-container">
    @if (Model.Comments != null && Model.Answer.NumComments > Model.Comments.Length)
    {
        <!-- Num comments -->
        <div class="social-content-main-lrg">
            <a href="@Url.Action("Comments", "Home", new { answerId = Model.Answer.Id })" class="ajax-link"><i class="icon-edit"></i>&nbsp;View all @Model.Answer.NumComments comments...</a>
        </div>
    }
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments)
        {
            <div class="ajax-container">
                @Html.Partial("Comment", (Qotd.PresentationObjects.CommentPO)comment)
            </div>
        }
    }
    </div>
    <!-- Comment input footer -->
        <div class="social-content-main-lrg comment">
            <div class="social-content-left-sml">
                <img src="@Model.User.User.ProfileImageUrl" class="profile-sml"/>
            </div>
            <div class="social-content-main-sml">
                <form class="ajax-form comment-form" action="@Url.Action("CommentSubmit", "Home", new { answerId = Model.Answer.Id })" method="get">
                    <input type="text" class="comment-input" name="content"/>
                    <input type="submit" class="btn btn-mini btn-primary ajax-submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
</div>

