<div>
@foreach (var day in ((Qotd.PresentationObjects.ActivityPO[])ViewBag.Activities).GroupBy(a => a.Activity.Date.Date).OrderByDescending(a => a.Key))
{
    <div class="history-date">
        <span class="label label-info">@day.Key.ToLongDateString()</span>
    </div>
    if (ViewBag.Group != null && ViewBag.Group) 
    {
        <!-- questions -->
        foreach (var activity in day.Where(a => a.Activity.QuestionId.HasValue))
        {
            <text>@Html.Partial("ActivityFull", activity)</text>
        }
         <!-- answers -->
        foreach (var activity in day.Where(a => a.Activity.AnswerId.HasValue).OrderBy(a => a.Answer.Answer.AnswerRank))
        {
            <text>@Html.Partial("ActivityFull", activity)</text> 
        }
    }
    else
    {
        <!-- all -->
        foreach (var activity in day)
        {
            <text>@Html.Partial("ActivityFull", activity)</text>
        }
    }
}
<div class="ajax-container">
    <div style="overflow: hidden">
        <a href="@Url.Action(ViewBag.Action, "Home", new { skip = ViewBag.Skip, take = ViewBag.Take, userId = ViewBag.TargetUserId == null ? (Guid?)null : ViewBag.TargetUserId })" class="ajax-link"><button class="btn btn-small btn-primary" type="submit">
            <i class="icon-chevron-down"></i>&nbsp;&nbsp;See More</button></a>
    </div>
</div>
</div>
