@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function onReady()
    {
        jQuery("time.timeago").timeago();

        $('.hovercard').popover();
    };

    function alert(url)
    {
        $.get(url, function(data)
        {
            $('#alert-box').html(data);
            $('#alert-box').show();
            setTimeout(function()
            {
                $('#alert-box').fadeOut('slow');
            }, 10000);
        });
    };

    $(document).ready(
	function () {
        onReady();

	    $('#answerContent').redactor({
            buttons: [ 'bold', 'italic', 'unorderedlist', 'orderedlist', '|', 'alignleft', 'aligncenter', '|', 'link', '|', 'fullscreen' ]
        });

	    $('#answerSubmit').click(
            function () {
                $.post("@Url.Action("AnswerSubmit")", $("#answerForm").serialize(), function(data)
                {
                    if (data.error)
                        alert(data.error);
                    alert('@Url.Action("AnswerSuccess", "Alert")');
                    $('a[href*="#tab1"]').click();
                    $.get('@Url.Action("Answer", "Home")' + '?answerId=' + data.answerId, function(data2)
                    {
                        $('#new-answer').html(data2);
                    });
                }, "json");
            });

        $('#questionSubmit').click(
            function () {
                $.post("@Url.Action("QuestionSubmit")", $("#questionForm").serialize(), function(data)
                {
                    if (data.error)
                        alert(data.error);

                    $("#questionForm")[0].reset();
                    alert('@Url.Action("QuestionSuccess", "Alert")');
                    $('a[href*="#tab2"]').click();
                    $('#questionModal').modal('hide');
                    setTimeout(function()
                    {
                        $.get('@Url.Action("Question", "Home")' + '?questionId=' + data.questionId, function(data2)
                        {
                            $('#new-question').html(data2);
                        });
                        }, 1000);
                }, "json");
            });

        $('.ajax-link').live("click",
            function(event)
            {
                event.preventDefault();
                var elem = this;
                $.get($(this).attr("href"), function(data)
                {
                    $(elem).closest('.ajax-container').html(data);
                    onReady();
                });
                return false;
            });

        $('.ajax-tab').live("click",
            function(event)
            {
                var tab = $($(this).attr("href"));
                $.get($(this).attr("rel"), function(data)
                {
                    $(tab).html(data);
                    onReady();
                });
                return true;
            });

        $('.comment-input').live('click',
            function(event)
            {
                $(this).next().show();
                return false;
            });

//        $('.comment-input').live('focusout',
//        function(event)
//        {
//            $(this).next().hide();
//            return false;
//        });

        $('.ajax-form').live('submit',
        function(event)
        {
            event.preventDefault();
            var elem = this;
            $.get($(this).attr("action"), $(this).serialize(), function(data)
            {
                $(elem).closest('.ajax-container').html(data);
                onReady();
            });
            return false;
        });
	}
);
</script>
<style>
    .modal {width:940px;left:36%;}
    
    .ajax-container { padding: 0px 0px; margin: 0px 0px }
</style>
<!-- Answer Modal -->
<div class="modal hide fade" id="answerModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Write your answer...</h3>
  </div>
  <form class="well form-horizontal" action="/" id="answerForm">
  <div class="modal-body">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Title:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" placeholder="Answer title..." name="main"/>
                <p class="help-block">Enter the title of your answer.</p><br />
            </div>
        </div>
        <label>Content:</label>
        <textarea id="answerContent" rows="12" cols="100" style="height: 210px" name="content"></textarea>
    </fieldset>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="answerSubmit" data-dismiss="modal">Submit</a>
  </div>
  </form>
</div>
<!-- Question Modal -->
<div class="modal hide fade" id="questionModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Write your question for tomorrow...</h3>
    </div>
    <form class="well form-horizontal" action="@Url.Action("QuestionSubmit", "Home")" id="questionForm">
        <div class="modal-body">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Main Text:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" placeholder="Main Text..." name="main"/>
                        <p class="help-block">Enter the main text of your question.</p><br />
                    </div>
                    <label class="control-label">Sub Text:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" placeholder="Sub Text..." name="sub" />
                        <p class="help-block">Enter the sub text of your question.</p><br />
                    </div>
                    <label class="control-label">More Information:</label>
                    <div class="controls">
                        <textarea rows="5" cols="120" name="details" class="input-xlarge"></textarea>
                        <p class="help-block">Enter the main text of your question.</p><br />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="questionSubmit">Submit</a>
        </div>
    </form>
</div>
<!-- Page -->
<div class="container">
    <div class="hero-unit">
        <h1>@QotdMvc.DisplayHelper.QuestionMainText(ViewBag.Question.MainText)</h1>
        <p></p>
        <p>@ViewBag.Question.SubText</p>
        <a href=""><span class="label label-info">More Info</span></a>
         @if (ViewBag.IsAuthenticated && ViewBag.User != null)
         {
             if (ViewBag.Question.QuestionType == Qotd.Entities.QuestionType.Debate)
             {
                <a href="" class="btn btn-danger" style="width: 75px"><i class="icon-thumbs-down icon-white" style="font-size: 18px; padding-right: 10px; position: relative; top:0px"></i>Disagree</a>
                <a href="" class="btn btn-success" style="width: 75px"><i class="icon-thumbs-up icon-white" style="font-size: 18px; padding-right: 10px; position: relative; top:3px"></i>&nbsp;Agree</a>
             }
             <a href="#questionModal" class="btn btn-warning pull-right" style="width:155px" data-toggle="modal"><i class="icon-question-sign icon-white"  style="font-size: 18px; padding-right: 10px; position: relative; top: 2px"></i>&nbsp;Pose a Question&nbsp;<i class="icon-chevron-right icon-white" style="font-size: 18px; padding-left: 10px; position: relative; top: 2px"></i></a> 
             <a href="#answerModal" class="@QotdMvc.DisplayHelper.AnswerButtonClass(ViewBag.Question.QuestionType, ViewBag.HasPickedSide)" data-toggle="modal" style="margin-right: 8px; width: 155px"><i class="icon-edit icon-white"  style="font-size: 18px; padding-right: 10px; position: relative; top: 2px"></i>&nbsp;Submit an Answer&nbsp;<i class="icon-chevron-right icon-white" style="font-size: 18px; padding-left: 10px; position: relative; top: 2px"></i></a>
         }
    </div>
    <div class="row">
        
        <div class="span9">
            <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab"><i class="icon-comments" style="font-size: 15px; color: Red; padding-right: 10px"></i><b>Answers</b></a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab" class="ajax-tab" rel="@Url.Action("QuestionsTab", "Home")"><i class="icon-question-sign" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>Questions</b></a>
                            </li>
                            <li>
                                <a href="#tab3" data-toggle="tab" class="ajax-tab"><i class="icon-leaf" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>Activities</b></a>
                            </li>
                            <li>
                                <a href="#tab4" data-toggle="tab" class="ajax-tab" rel="@Url.Action("LeaderboardTab", "Home")"><i class="icon-trophy" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>Leaderboard</b></a>
                            </li>
                            <li>
                                <a href="#tab5" data-toggle="tab"><i class="icon-globe" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>History</b></a>
                            </li>
                        </ul>
                    <div class="tab-content">
                        <div id="alert-box">
                        </div>
                        <div class="tab-pane active" id="tab1">
                            @Html.Action("AnswersTab", "Home")
                        </div>
                        <div class="tab-pane" id="tab2">
                        
                        </div>
                        <div class="tab-pane" id="tab3">
                        
                        </div>
                        <div class="tab-pane" id="tab4">
                        
                        </div>
                        <div class="tab-pane" id="tab5">
                        
                        </div>
                    </div>
                </div>
        </div>
        <div class="span3">
            <div style="border-left: 1px solid #dddddd; padding-left: 12px;">
                <div style="padding: 12px 12px">
                    <span><h3><i class="icon-leaf"></i>&nbsp;&nbsp;Recent Activities</h3></span>
                </div>
                <div>
                    @Html.Action("Activities", "Home")
                </div>
            </div>
        </div>
    </div>
</div>