@model Qotd.PresentationObjects.LeaderboardPO
<table>
    <thead>
        <tr>
            <th class="slim-col"></th>
            <th class="slim-col"></th>
            <th class="slim-col">Rank</th>
            <th colspan="2">User</th>
            <th class="slim-col">Ans. Vts.</th>
            <th class="slim-col">Qns. Vts.</th>
            <th class="slim-col">Ans. 1st</th>
            <th class="slim-col">Ans. 2nd</th>
            <th class="slim-col">Ans. 3rd</th>
            <th class="slim-col">Qns. 1st</th>
            <th class="slim-col">Num. Ans.</th>
            <th class="slim-col">Num. Qns.</th>
            <th class="slim-col score-col"><b>Total Score</b></th>
        </tr>
    </thead>
    @{
     int r = 0;
    foreach (var row in Model.Top)
{
    string rowclass = r % 2 == 1 ? "oddrow" : "";
    <tr class="@rowclass">
        <td>
        @if (row.Rank == 1 || row.Rank == 2 || row.Rank == 3)
            {
                <i class="@QotdMvc.DisplayHelper.GetRankIconClass(row.Rank)" style="font-size: 2em"></i>
            }
        </td>
        <td>-</td>
        <td class="number"><b>@row.Rank</b></td>
        <td style="text-align: right"><img style="width: 18px; height: 18px; border: 1px solid #333333;" src="@QotdMvc.DisplayHelper.ImgUrl(row.User.ProfileImageUrl)" alt="profile picture"/></td>
        <td><a href="#"><b>@row.User.DisplayName</b></a></td>
        <td class="number">@row.Av</td>
        <td class="number">@row.Qv</td>
        <td class="number">@row.A1</td>
        <td class="number">@row.A2</td>
        <td class="number">@row.A3</td>
        <td class="number">@row.Q1</td>
        <td class="number">@row.Ac</td>
        <td class="number">@row.Qc</td>
        <td class="number score-col @rowclass"><b>@row.Score</b></td>
    </tr>
    r++;
}
}

</table>

