@model Qotd.Entities.Notification
<div class="social-content-container-sml">
    <!-- Side bar of post -->
    <div class="social-content-left-sml">
        <!-- Profile image -->
        <div>
            <img src="@Model.SourceUser1ProfileImageUrl" alt="profile picture" class="profile-sml"/>
        </div>
    </div>
    <!-- Main section of post -->
    <div class="social-content-main-container">
    <!-- Content -->
        <div class="social-content-main-sml">
            @switch (Model.ActivityType)
            {
                    case Qotd.Entities.ActivityType.VoteAnswer:
                    <text>@Html.Raw(QotdMvc.DisplayHelper.UserString(Model))&nbsp;voted on your answer, "<a href="@Url.Action("Answer", "Home", new { ajax = false, answerId = Model.AnswerId.Value })" style="display: inline; padding: 0px 0px; color: #08C;"><b>@Model.Text.Trim()</b></a>"</text>
                    break;
                    case Qotd.Entities.ActivityType.VoteQuestion:
                    <text>@Html.Raw(QotdMvc.DisplayHelper.UserString(Model))&nbsp;voted on your question, "<a href="@Url.Action("Question", "Home", new { ajax = false, questionId = Model.QuestionId.Value })" style="display: inline; padding: 0px 0px; color: #08C;"><b>@Model.Text.Trim()</b></a>"</text>
                    break;
                    case Qotd.Entities.ActivityType.PostComment:
                    <text>@Html.Raw(QotdMvc.DisplayHelper.UserString(Model))&nbsp;commented on your answer, "<a href="@Url.Action("Answer", "Home", new { ajax = false, answerId = Model.AnswerId.Value })" style="display: inline; padding: 0px 0px; color: #08C;"><b>@Model.Text2.Trim()</b></a>"</text>
                    break;
            }
        </div>
    <!-- Footer -->
        <div class="social-content-main-sml">
            <div class="social-content-ctrl">
                <i class="icon-time"></i>&nbsp;<time class="timeago" datetime="@Model.Date.ToString("s")"></time>
            </div>
        </div>
    </div>
</div>
