@model Qotd.PresentationObjects.QuestionPO
<div class="social-content-container-lrg social-content-container">
    <!-- Side bar of post -->
    <div class="social-content-left-lrg">
        <!-- Profile image -->
        <div>
            <img src="@Model.User.User.ProfileImageUrl" alt="profile picture" class="profile"/>
        </div>
        <!-- Up arrow -->
        @if (ViewBag.IsAuthenticated && ViewBag.User != null && (!Model.HasUserVoted))
        {
            <div>
                <a href="@Url.Action("VoteUpQuestion", "Home", new { questionId = Model.Question.Id })" class="ajax-link vote-arrow"><i class="icon-caret-up"></i></a>
            </div>
        }
        else
        {
            <div>
                <i class="icon-caret-up vote-arrow"></i>
            </div>
        }
        <!-- Votes -->
        <div class="vote-count">@Model.Question.VotesTotal</div>
        <!-- Down arrow -->
        @if (ViewBag.IsAuthenticated && ViewBag.User != null && (!Model.HasUserVoted))
        {
        <div>
            <a href="@Url.Action("VoteDownQuestion", "Home", new { questionId = Model.Question.Id })" class="ajax-link vote-arrow"><i class="icon-caret-down"></i></a>
        </div>
        }
        else
        {
            <div>
                <i class="icon-caret-down vote-arrow"></i>
            </div>
        }
    </div>
    <!-- Main section of post -->
    <div class="social-content-main-container">
        <!-- Header -->
        <div class="social-content-main-lrg">
            <div>
                <span><b>@Html.Partial("UserLink", Model.User)</b></span>
                <span>asks:</span>
            <div style="float: right;"><span class="label label-warning" style="font-size: 11px"><i class="icon-question-sign"></i>&nbsp;Question</span></div>
            @if (Model.Question.WinningQuestion.HasValue && Model.Question.WinningQuestion.Value)
            {
                <div style="float: right; margin-right: 4px"><i class="icon-trophy gold"></i>&nbsp;<span class="label" style="font-size: 11px">Winner</span></div>
            }
            </div>
        </div> 
        <!-- Content -->
        <div class="social-content-main-lrg">
            <div><h2>@QotdMvc.DisplayHelper.QuestionMainText(Model.Question.MainText)</h2></div>
            <div>@Model.Question.SubText</div>
        </div>
        <!-- Tags -->
        <div class="social-content-main-lrg">
            @Html.Partial("TagList", Model.Question.TagEntries)
        </div>
        <!-- Controls footer -->
        <div class="social-content-main-lrg">
            <div class="social-content-ctrl"><a href="#"><i class="icon-info-sign"></i>&nbsp;More Info</a></div>
            <div class="social-content-ctrl"><i class="icon-time"></i>&nbsp;<time class="timeago" datetime="@Model.Question.CreatedOn.ToString("s")"></time></div>
            @if (ViewBag.IsAuthenticated && ViewBag.User != null)
            {
                 <div class="social-content-ctrl"><a href="#"><i class="icon-warning-sign"></i>&nbsp;Report</a></div>
            }
        </div>
    </div>
</div>