@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li>
    <a href="@ViewBag.PastPageUrl">@ViewBag.PastPageName</a> <span class="divider">/</span>
    </li>
    <li class="active">@ViewBag.PageFriendlyName</li>
</ul>
@{
    switch ((QotdMvc.SingleType)ViewBag.Type)
    {
        case QotdMvc.SingleType.Answer:
            <text>@Html.Partial("Answer", (Qotd.PresentationObjects.AnswerPO)ViewBag.Object)</text>
            break;
            case QotdMvc.SingleType.Question:
            <text>@Html.Partial("Question", (Qotd.PresentationObjects.QuestionPO)ViewBag.Object)</text>
            break;
    }
}
