@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span12">
        <div class="well" style="overflow: hidden">
            <div style="float: left; clear: both; width: 60px; margin-bottom: 8px">
                <div style="font-size: 55px; position: relative; top: 12px; padding-left: 6px;"><b>#</b></div>
            </div>
            <div style="float: left; border-right: 1px solid #dddddd; height: 50px; margin-right: 10px;">&nbsp;</div>
            <div style="float: left;">
                <div><h3>@ViewBag.Tag.Tag.Value</h3></div>
            </div>
            <div style="float: right; padding-top: 0px;">
                @if (ViewBag.IsAuthenticated && ViewBag.User != null)
                {
                    <div style="float: right;">
                    @if (ViewBag.Tag.IsFollowedByCurrent)
                    {
                        <div class="well" style="border: 1px solid #cccccc; padding: 3px 3px; width: 176px; text-align: center;"><i class="icon-ok" style="color: #22dd22"></i> <span style="color: #000000 !important">Is a favourite</span></div>
                    }
                    else
                    {
                        <a href="@Url.Action("AddFollowTag", "Home", new { tagId = ViewBag.Tag.Tag.Id })" class="btn" style="width: 160px; margin-bottom: 20px"><i class="icon-star" style="color: #dddd22"></i> <span style="color: #000000 !important">Add as favourite</span></a>
                    }
                    </div>
                }
            </div>
            <div style="float: right; clear: right;">
                <div style="overflow: hidden; text-align: center; font-weight: bold; margin-bottom: 8px; padding-bottom: 4px; border-bottom: 1px solid #dddddd;">
                    Last 4 Weeks
                </div>
                    <div style="overflow: hidden;">
                        @Html.Partial("TagBoxes", new QotdMvc.Models.TagBoxes() { Tag = ViewBag.Tag, Overall = false })
                    </div>
                <div style="overflow: hidden; text-align: center; font-weight: bold; margin-bottom: 8px; padding-bottom: 4px; border-bottom: 1px solid #dddddd;">
                    Overall
                </div>
                    <div style="overflow: hidden;">
                        @Html.Partial("TagBoxes", new QotdMvc.Models.TagBoxes() { Tag = ViewBag.Tag, Overall = true })
                    </div>
            </div>
        </div>

        <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab" class="has-tooltip" title="" data-placement="right"><i class="icon-table" style="font-size: 15px; color: Red; padding-right: 10px"></i><b>Statistics</b></a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="ajax-tab has-tooltip" title="" data-placement="right" rel="@Url.Action("HistoryForTag", "Home", new { tagId = ViewBag.Tag.Tag.Id })"><i class="icon-globe" style="font-size: 15px; color: Gray; padding-right: 10px"></i><b>History</b></a>
                        </li>
                    </ul>
                <div class="tab-content">
                    <div id="alert-box"></div>
                    <div class="tab-pane active" id="tab1">
                        
                    </div>
                    <div class="tab-pane" id="tab2">
                        
                    </div>
                </div>
            </div>

        
    </div>
</div>