@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span12">
        <div class="well fill">
            <div class="fl cl cr">
                <img src="@ViewBag.TargetUser.User.ProfileImageUrl" alt="profile picture" class="profile"/>
            </div>
            <div class="fl vline">&nbsp;</div>
            <div class="fl">
                <h3>@ViewBag.TargetUser.User.DisplayName</h3>
                <p>Member Since <b>@ViewBag.TargetUser.User.JoinedOn.ToLongDateString()</b></p>
            </div>
            <div class="fr">
                @if (ViewBag.IsAuthenticated && ViewBag.User != null && ViewBag.User.Id != ViewBag.TargetUser.User.Id)
                {
                    <div class="fr">
                    @if (ViewBag.TargetUser.IsFollowedByCurrent)
                    {
                        <div class="favourite-ctrl"><i class="icon-ok color-ok"></i>&nbsp;Is a favourite</div>
                    }
                    else
                    {
                        <a href="@Url.Action("AddFollow", "Home", new { userId = ViewBag.TargetUser.User.Id })" class="btn favourite-ctrl"><i class="icon-star color-star"></i>&nbsp;Add as favourite</a>
                    }
                    </div>
                    <div class="fr">
                    @if (ViewBag.TargetUser.IsFollowingCurrent)
                    {
                        <div class="favourite-ctrl"><i class="icon-ok color-ok"></i>&nbsp;Has favourited you</div>
                    }
                    else
                    {
                        <div class="btn favourite-ctrl"><i class="icon-remove"></i>&nbsp;Has not favourited you</div>
                    }
                    </div>
                }
            </div>
            @*<div class="fr cl stat-box-holder">
                <div class="stat-box-row fill"><p><b>Last 4 Weeks</b></p>
                    <div class="fill">@Html.Partial("UserBoxes", new QotdMvc.Models.UserBoxes() { User = ViewBag.TargetUser, Overall = false })</div>
                </div>
                <div class="stat-box-row fill"><p><b>Overall</b></p>
                    <div class="fill">@Html.Partial("UserBoxes", new QotdMvc.Models.UserBoxes() { User = ViewBag.TargetUser, Overall = true })</div>
                </div>
            </div>*@
            <div style="margin-top: 22px" class="fl cl">
                @Html.Partial("UserRatings", (Qotd.PresentationObjects.UserPO)ViewBag.TargetUser)
            </div>
        </div>

        <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab" class="has-tooltip" title="" data-placement="right"><i class="icon-table tabicon-blue"></i><b>Statistics</b></a>
                        </li>
                        <li>
                           <a href="#tab6" data-toggle="tab" class="ajax-tab" title="" data-placement="right" rel="@Url.Action("UserScoresTab", "Home", new { userId = ViewBag.TargetUser.User.Id })"><i class="icon-table tabicon-red"></i><b>Scores</b></a> 
                        </li>
                        <li>
                            <a href="#tab4" data-toggle="tab" class="ajax-tab" title="" data-placement="right" rel="@Url.Action("TodaysActivitiesForUser", "Home", new { userId = ViewBag.TargetUser.User.Id })"><i class="icon-leaf tabicon-green"></i><b>Today's Activities</b></a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="ajax-tab has-tooltip" title="" data-placement="right" rel="@Url.Action("HistoryForUser", "Home", new { userId = ViewBag.TargetUser.User.Id })"><i class="icon-globe tabicon-green"></i><b>History</b></a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab" class="ajax-tab" rel="@Url.Action("FollowList", "Home", new { userId = ViewBag.TargetUser.User.Id })"><i class="icon-star tabicon-yellow"></i><b>Favourite Members</b></a>
                        </li>
                        <li>
                            <a href="#tab5" data-toggle="tab" class="ajax-tab" rel="@Url.Action("FollowListTags", "Home", new { userId = ViewBag.TargetUser.User.Id })"><i class="icon-star tabicon-yellow"></i><b>Favourite Tags</b></a>
                        </li>
                    </ul>
                <div class="tab-content">
                    <div id="alert-box">
                    </div>
                    <div class="tab-pane active" id="tab1">
                        <div style="overflow: hidden; clear: left;">
                            @Html.Partial("UserStats", (Qotd.PresentationObjects.UserPO)ViewBag.TargetUser)
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        
                    </div>
                    <div class="tab-pane" id="tab3">
                        
                    </div>
                    <div class="tab-pane" id="tab4">
                        
                    </div>
                    <div class="tab-pane" id="tab5">
                        
                    </div>
                    <div class="tab-pane" id="tab6"></div>
                </div>
            </div>

        
    </div>
</div>
