<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <!-- <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />-->
  @*  <link href="@Url.Content("~/Content/bootstrap/less/bootstrap.less")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Site.less")" rel="Stylesheet" type="text/css" />
    <!--<link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" /> -->
    <link href="@Url.Content("~/Content/redactor/css/redactor.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fontawesome/css/font-awesome.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/tipsy/tipsy.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/redactor/redactor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/tipsy/jquery.tipsy.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/tipsy/jquery.tipsy.hovercard.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.timeago.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/qotd.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tokeninput.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/token-input.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/token-input-facebook.css")" rel="Stylesheet" type="text/css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
<script type="text/javascript">

    var gblPageUrl = "@ViewBag.PageUrl";
    var gblPageFriendlyName = "@ViewBag.PageFriendlyName";

    function onReady()
    {
        jQuery("time.timeago").timeago();

//         $('.ajax-popover').bind('hover',function(event){
//            var el=$(this);
//            $.get(el.attr('data-load'),function(d){
//                el.unbind().popover({content: d}).popover('show');
//                el.removeClass('.ajax-popover');
//            });
//        });

        var elems = $('.social-content-background');
        elems.css("position", "absolute");
        elems.css("top", $(elems).parent().css("top"));

        $('.has-tooltip').tooltip();
    };

    function onPage() {
        // window size
        function windowSize()
        {
            if ($(window).width() < 1180)
            {
                $("#side-bar").hide();
                $("#main-bar").css("width", "100%");
            }
            else
            {
                $("#side-bar").show();
                $("#main-bar").css("width", "82%");
            }
        };

        $(window).resize(windowSize);
        windowSize();
        $("#new-answer-box").hide();
        $("#new-question-box").hide();
        
        // new btns
        $("#new-answer-btn").click(function()
        {
            $("#new-answer-box").css("display", "block");
            $("#new-question-box").css("display", "none");
            $("#main-content").css("display", "none");
            return false;
        });

        $("#new-question-btn").click(function()
        {
            $("#new-question-box").css("display", "block");
            $("#new-answer-box").css("display", "none");
            $("#main-content").css("display", "none");
            return false;
        });

        function newClose()
        {
            $("#new-answer-box").css("display", "none");
            $("#new-question-box").css("display", "none");
            $("#main-content").css("display", "block");
            return false;
        }

        $("a[rel=answer-close]").click(newClose);
        $("a[rel=question-close]").click(newClose);

        $('#answerContent').redactor({
            buttons: [ 'bold', 'italic', 'unorderedlist', 'orderedlist', '|', 'alignleft', 'aligncenter', '|', 'link', '|', 'fullscreen' ]
        });

        $('#answer-tags').tokenInput("@Url.Action("Tags", "Home")", { theme: "facebook" });
        $('#question-tags').tokenInput("@Url.Action("Tags", "Home")", { theme: "facebook" });

	    $('#answer-submit').click(
            function () {
                var val = "";
                var items = $("#answer-tags").tokenInput("get");
                for (i = 0; i < items.length; i++)
                {
                    val += items[i].name + ",";
                }
                $("#answer-tags").val(val);
                $.post("@Url.Action("AnswerSubmit")", $("#answerForm").serialize(), function(data)
                {
                    if (data.error)
                        alert(data.error);
                    $("#answerForm")[0].reset();
                    alert('@Url.Action("AnswerSuccess", "Alert")');
                    newClose();
                    $('a[href*="#tab1"]').click();
                    $.get('@Url.Action("Answer", "Home")' + '?answerId=' + data.answerId, function(data2)
                    {
                        $('#new-answer').html(data2);
                    });
                }, "json");
            });

        $('#question-submit').click(
            function () {
                var val = "";
                var items = $("#question-tags").tokenInput("get");
                for (i = 0; i < items.length; i++)
                {
                    val += items[i].name + ",";
                }
                $("#question-tags").val(val);
                $.post("@Url.Action("QuestionSubmit")", $("#questionForm").serialize(), function(data)
                {
                    if (data.error)
                        alert(data.error);

                    $("#questionForm")[0].reset();
                    alert('@Url.Action("QuestionSuccess", "Alert")');
                    newClose();
                    $('a[href*="#tab2"]').click();
                    $('#questionModal').modal('hide');
                    setTimeout(function()
                    {
                        $.get('@Url.Action("Question", "Home")' + '?questionId=' + data.questionId, function(data2)
                        {
                            $('#new-question').html(data2);
                        });
                        }, 1000);
                }, "json");
            });

        $('#notification-dropdown').bind("click",
            function()
            {
                $("#notification-menu").load("@Url.Action("Notifications", "Home")", function() 
                {
                    jQuery("time.timeago").timeago();
                    $("#notification-number").hide();
                    $("#notification-icon").attr("class", "icon-envelope");
                });
            });

        $('.single-link').live("click",
            function(event)
            {
                var href = $(this).attr("href");
                window.location.href = href + "&pageName=" + gblPageFriendlyName + "&pageUrl=" + gblPageUrl;
                return false;
            });

        $('.ajax-link').live("click",
            function(event)
            {
                event.preventDefault();
                var elem = this;
                $.get($(this).attr("href"), function(data)
                {
                    $(elem).closest('.ajax-container').html(data);
                    onReady();
                });
                return false;
            });

        $('.ajax-tab').live("click",
            function(event)
            {
                var tab = $($(this).attr("href"));
                $.get($(this).attr("rel"), function(data)
                {
                    $(tab).html(data);
                    onReady();
                });
                return true;
            });

        $('.comment-link').live("click",
            function(event)
            {
                var ci = $(this).closest(".social-content-container").find(".comment-input");
                $(ci).removeClass("hidden");
                $($(ci).find("input")[0]).focus();
                return false;
            });

//        $('.comment-input').live('focusout',
//        function(event)
//        {
//            $(this).next().hide();
//            return false;
//        });

        $('.ajax-form').live('submit',
        function(event)
        {
            event.preventDefault();
            var elem = this;
            $.get($(this).attr("action"), $(this).serialize(), function(data)
            {
                $(elem).closest('.ajax-container').html(data);
                onReady();
            });
            return false;
        });
        
    };

    function alert(url)
    {
        $.get(url, function(data)
        {
            $('#alert-box').html(data);
            $('#alert-box').show();
            setTimeout(function()
            {
                $('#alert-box').fadeOut('slow');
            }, 10000);
        });
    };
    
    $(document).ready(
	function () {
	    onReady();
	    onPage();
	});
</script>
<!-- Side Bar -->
<div id="side-bar" style="position: fixed; width: 18%; right: 0px; top: 0px; background-color: white; border: 1px solid white; padding-top: 40px; height: 100%">
    @Html.Action("Activities", "Home")
</div>
<div id="main-bar" style="position: absolute; width: 82%">
<!-- Top Bar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@Url.Action("Index", "Home")">A Question A Day .co.uk</a>
            <!-- notification dropdown -->
            @if (ViewBag.IsAuthenticated && ViewBag.User != null)
            {
            <ul class="nav"><li class="divider-vertical"></li></ul>
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="notification-dropdown" data-toggle="dropdown">
                        @if (ViewBag.UserPO.UnreadNotifications == 0)
                        {
                        <i class="icon-envelope" id="notification-icon"></i>
                        }
                        else
                        {
                        <i class="icon-envelope-alt red" id="notification-icon"></i>
                        <span id="notification-number">@ViewBag.UserPO.UnreadNotifications</span>  
                        }
                    </a>
                    <ul class="dropdown-menu" id="notification-menu">
                    </ul>
                </li>
            </ul>
            <ul class="nav"><li class="divider-vertical"></li></ul>
            }
            <!-- --------------------- -->
            <div class="btn-group pull-right">
                <!-- if signed in -->
                @if (ViewBag.IsAuthenticated && ViewBag.User != null)
                {
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user"></i>&nbsp;@ViewBag.User.DisplayName
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Account</a></li>
                      <li class="divider"></li>
                      <li><a href="@Url.Action("Signout", "Account")">Sign out</a></li>
                    </ul>
                }
                else
                {
                <!-- if not signed in -->
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user"></i> Sign in
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="@Url.Action("FacebookSignin", "Account")"><i class="icon-facebook"></i>&nbsp;with Facebook</a></li>
                      <li><a href="@Url.Action("GoogleSignin", "Account")"><i class="icon-google-plus"></i>&nbsp;with Google</a></li>
                      <li><a href="#"><i class="icon-twitter"></i>&nbsp;with Twitter</a></li>
                      <li class="divider"></li>
                      <li><a href="#">More Options...</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Register</a></li>
                    </ul>
                }
            </div>
</div>
        </div>
    </div>
<div class="container">
@if (ViewBag.HideQuestion == null || (!ViewBag.HideQuestion))
{
    <div class="hero-unit hero-color">
        <h1>@QotdMvc.DisplayHelper.QuestionMainText(ViewBag.Question.MainText)</h1>
        <p></p>
        <p>@ViewBag.Question.SubText</p>
        <a href=""><span class="label label-info">More Info</span></a>
         @if (ViewBag.IsAuthenticated && ViewBag.User != null)
         {
             if (ViewBag.Question.QuestionType == Qotd.Entities.QuestionType.Debate)
             {
                <a href="" class="btn btn-danger" style="width: 75px"><i class="icon-thumbs-down icon-white" style="font-size: 18px; padding-right: 10px; position: relative; top:0px"></i>Disagree</a>
                <a href="" class="btn btn-success" style="width: 75px"><i class="icon-thumbs-up icon-white" style="font-size: 18px; padding-right: 10px; position: relative; top:3px"></i>&nbsp;Agree</a>
             }
             <a id="new-question-btn" href="#" class="btn btn-warning pull-right" style="width:170px"><i class="icon-question-sign icon-white"  style="font-size: 18px; padding-right: 10px; position: relative; top: 2px"></i>&nbsp;Pose a Question&nbsp;<i class="icon-chevron-right icon-white" style="font-size: 18px; padding-left: 10px; position: relative; top: 2px"></i></a> 
             <a id="new-answer-btn" href="#" class="@QotdMvc.DisplayHelper.AnswerButtonClass(ViewBag.Question.QuestionType, ViewBag.HasPickedSide)" style="margin-right: 8px; width: 170px"><i class="icon-edit icon-white"  style="font-size: 18px; padding-right: 10px; position: relative; top: 2px"></i>&nbsp;Submit an Answer&nbsp;<i class="icon-chevron-right icon-white" style="font-size: 18px; padding-left: 10px; position: relative; top: 2px"></i></a>
         }
    </div>
}
    <div id="main-content">
        @RenderBody()
    </div>
    <div id="new-question-box">
    <ul class="breadcrumb">
        <li>
        <a href="#" rel="question-close">@ViewBag.PageFriendlyName</a> <span class="divider">/</span>
        </li>
        <li class="active">Post a Question</li>
    </ul>
    <form class="well form-horizontal" action="@Url.Action("QuestionSubmit", "Home")" id="questionForm">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Main Text:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" placeholder="Main Text..." name="main" style="width: 440px"/>
                    </div>
                    <br />
                    <label class="control-label">Sub Text:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" placeholder="Sub Text..." name="sub" style="width: 440px"/>
                    </div>
                    <br />
                    <label class="control-label">More Information:</label>
                    <div class="controls">
                        <textarea rows="5" cols="120" name="details" class="input-xlarge" style="width: 440px"></textarea>
                    </div>
                    <br />
                    <label class="control-label">Tags:</label>
                    <div class="controls">
                        <input type="text" class="tag-input" name="tags" id="question-tags" />
                    </div>
                </div>
            </fieldset>
        <div style="overflow: hidden; text-align: right;">
            <br />
            <a href="#" class="btn" rel="question-close">Close</a>
            <a href="#" class="btn btn-primary" id="question-submit">Submit</a>
        </div>
    </form>
    </div>
    <div id="new-answer-box">
         <ul class="breadcrumb">
          <li>
            <a href="#" rel="answer-close">@ViewBag.PageFriendlyName</a> <span class="divider">/</span>
          </li>
          <li class="active">Submit an Answer</li>
        </ul>
        <form class="well form-horizontal" action="/" id="answerForm">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Title:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" placeholder="Answer title..." name="title" style="width: 440px"/>
                    </div>
                    <br />
                    <label class="control-label">Tags:</label>
                    <div class="controls">
                        <input type="text" class="tag-input" placeholder="Answer tags..." name="tags" id="answer-tags"/>
                    </div>
                </div>
                <textarea id="answerContent" rows="12" cols="100" style="height: 210px" name="content"></textarea>
            </fieldset>
            
            <div style="overflow: hidden; text-align: right;">
                <br />
                <a href="#" class="btn" rel="answer-close">Close</a>
                <a href="#" class="btn btn-primary" id="answer-submit">Submit</a>
            </div>
          </form>
    </div>
</div>
</div>
</body>
</html>
