@model Qotd.PresentationObjects.UserPO
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th style="width: 30%">Last 4 Weeks</th>
            <th style="width: 30%">Since Joining</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Number of Answers Won:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersWonThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersWon</td>
        </tr>
        <tr>
            <td>Number of Answers Second:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersSecondThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersSecond</td>
        </tr>
        <tr>
            <td>Number of Answers Third:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersThirdThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersThird</td>
        </tr>
        <tr>
            <td>Number of Questions Won:</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestionsWonThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestionsWon</td>
        </tr>
        <tr>
            <td>Number of Answers Submitted:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswers</td>
        </tr>
        <tr>
            <td>Number of Questions Submitted:</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestionsThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestions</td>
        </tr>
        <tr>
            <td>Number of Users Favourited:</td>
            <td class="number">@ViewBag.TargetUser.User.NumFollowsThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumFollows</td>
        </tr>
        <tr>
            <td>Number of Users that have Favourited:</td>
            <td class="number">@ViewBag.TargetUser.User.NumFollowingThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumFollowing</td>
        </tr>
    </tbody>
</table>