@model Qotd.PresentationObjects.UserPO
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th style="width: 10%">Last 4 Weeks</th>
            <th style="width: 10%">Overall</th>
            <th style="width: 10%">Site Highest</th>
            <th style="width: 10%">Favourites Highest</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="icon-reorder"></i>&nbsp;Ranking:</td>
            <td class="number">@ViewBag.TargetUser.User.OverallRankThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.OverallRank</td>
            <td class="number">-</td>
            <td class="number">-</td>
        </tr>
        <tr>
            <td><i class="icon-heart"></i>&nbsp;Total Number of Answer Votes:</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td><i class="icon-heart"></i>&nbsp;Total Number of Question Votes:</td>
            <td class="number">@ViewBag.TargetUser.User.TotalQuestionVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalQuestionVotes</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td><i class="icon-trophy gold"></i>&nbsp;Number of Answers Won:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersWonThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersWon</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td><i class="icon-trophy silver"></i>&nbsp;Number of Answers Second Place:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersSecondThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersSecond</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td ><i class="icon-trophy bronze"></i>&nbsp;Number of Answers Third Place:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersThirdThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersThird</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td><i class="icon-trophy gold"></i>&nbsp;Number of Questions Won:</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestionsWonThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestionsWon</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td><i class="icon-comments"></i>&nbsp;Number of Answers Submitted:</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswersThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumAnswers</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td><i class="icon-question-sign"></i>&nbsp;Number of Questions Submitted:</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestionsThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.NumQuestions</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
        <tr>
            <td><i class="icon-certificate"></i>&nbsp;Score:</td>
            <td class="number">@ViewBag.TargetUser.User.ScoreThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.Score</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotesThisPeriod</td>
            <td class="number">@ViewBag.TargetUser.User.TotalAnswerVotes</td>
        </tr>
    </tbody>
</table>